.center {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}
.button-div {
    margin: 1%;
    flex: 1 1 auto; /* Allow flexible resizing */
    max-width: 150px; /* Optional max-width for buttons */
}

